@import "tailwindcss";

@theme {
  --color-secondary: #5D4037;
  --color-accent: #FFB300;
  --color-primary: #2E7D32;
  --color-background: #FFF8E1;
  --color-background: #D7CCC8;
}

@layer base {
  body {
    @apply bg-background text-secondary min-h-screen font-sans;
  }
}
